body{background: #eee}
#pin-div{
	position: fixed; 
	right: 2px;
	top:40%;	
}
#pin-div-button{
	width: 2em;
	padding: 0.3em;
	color:#337ab7;
	border:2px solid #337ab7;
	border-radius: 10px;
	z-index: 200;
	background: white;
	float: right;
}
#pin-div-content{
	color:black;
	float: right;
	width: 25em;
	background: white;
	box-shadow: #333 2px 2px 7px;
	margin-right:10px;
	border-radius: 4px;
	padding: 2em;
}
#page-header{		
	min-height: 20em;		
	background: #0078d8;
	padding: 3em;
	color: #eee;
	box-shadow:#111 3px 0px 5px;
}
#page-footer{
	margin-top: 3em;
	min-height: 10em;
	background: #444;
	padding:4em 0 2em 0; 	
	color: #eee;	
}
#footer-wrapper{padding: 0 8%;}
.footer-heading{font-size: 1.5em;margin-bottom: 0.8em;font-weight:bold }
a.footer-link{text-decoration: none;display: block;color: inherit;margin: 0.7em 0;;letter-spacing: 1px}
a.footer-link:hover{text-decoration: none}
a.footer-link:visited{text-decoration: none}
#footer-ICP{text-align: center;margin-top: 2em}
img.footer-qrcode{height: 140px;width: auto}
#header-logo{	
	padding-top: 2em; 	
	text-shadow:#333 2px 2px 5px;
	text-align: center;	
}
#header-logo>h1{font-size: 5em;}
#header-logo>h2{font-size: 1.5em;letter-spacing:2px;}
#header-form{padding-top: 1.5em;width: 270px;margin-left: auto;margin-right: auto}
.header-form-header{padding-bottom:1em;}
a.form-link{color:inherit;display: inline-block;float: right; text-decoration: none;}
a.form-link:hover{text-shadow:#aaa 0px 0px 10px; text-decoration: none;}
a.form-link:visited{ text-decoration: none;}
input.double-input{width:43%;display:inline-block;margin: 0;}
.double-input-spacing{width:10%;display:inline-block;}

.content-box{
	background: white;
	box-shadow: #666 2px 2px 7px;
	margin-top: 3em;
	margin-bottom: 3em;
	padding: 1.4em;
	
}
.content-box-heading{margin-top: 0.2em;padding-bottom:8px;color:#444;font-size: 1.5em;text-shadow:#aaa 2px 2px 5px;letter-spacing: 2px;border-bottom:2px solid #999}
.item-container{margin-left: auto;margin-right: auto;width: 22em;margin-top: 2em;}
.item-img{margin-left: auto;margin-right:auto;display: block;margin-bottom: 1em;}
.item-img-round{margin-left: auto;margin-right:auto;display: block;margin-bottom: 1em;border-radius: 50%}
.item-title{font-size: 1.2em;font-weight: bold;text-align: center;}
.item-table-title{font-weight: bold;min-width: 6em;}

.item-table-listItem{margin-right: 0.5em;display: inline-block;}

