<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">    
    <title>Kesci</title> 
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../shared/css/global.css">
    <link rel="stylesheet" href="app.css">	   
	<script src="../../bower_components/angular/angular.min.js"></script>
	<script src="controllers.js"></script>

</head>

<body ng-app="myApp">


	<div id="page-header" ng-controller="headerCtr">
		<div id="pin-div">

			<div id="pin-div-button" ng-click="showPindiv=!showPindiv;console.log('asd');">意见反馈</div>
			 <div id="pin-div-content" ng-show="showPindiv">			
				<form>
				  <div class="form-group">	
				  	<label class="control-label">您的邮箱:</label>		    
				    <input type="email" class="form-control" placeholder="请在此处填写您的邮箱">
				  </div>
				  <div class="form-group">	
				  	<label class="control-label">您的意见:</label>		  		    
				    <textarea class="form-control" placeholder="请在此处填写您的意见"  rows="5"></textarea>
				  </div>
				  <button type="submit" class="btn btn-primary">提 交</button> 
				  <button class="btn btn-default" ng-click="showPindiv=false">取 消</button>
				</form>
			</div>
		</div>
	<div class="container">
		<div class="row">
		  <div id="header-logo" class="col-md-6">
		  <h1>Kesci</h1>
		  <h2>国内最好的校园竞赛平台</h2>
		  </div>
		  <div class="col-md-6" >
		   <div id="header-form">
			  <div ng-show="!isReg">
				  <div class="header-form-header">
					  <span>登录 Kesci</span>
					  <a class="form-link" ng-click="isReg=true" href="#">去注册 <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
				  </div>
				  <form>
				  <div class="form-group">			    
				    <input type="email" class="form-control" placeholder="Email">
				  </div>
				  <div class="form-group">			    
				    <input type="password" class="form-control" placeholder="Password">
				  </div>			  
				  <div class="checkbox">
				    <label>
				      <input type="checkbox"> 记住我
				    </label>
				    <a class="form-link">忘记密码?</a>
				  </div>
				  <button type="submit" class="btn btn-default">登 录</button>
				</form>
			</div>  
			<div ng-show="isReg">
				<div class="header-form-header">
				  <span>注册 Kesci<span>
				  <a class="form-link" ng-click="isReg=false" href="#">去登录 <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
				</div>
				<form>
				  <div class="form-group">			    
				    <input class="double-input form-control" type="text" placeholder="姓">
				    <span class="double-input-spacing"></span> 
				    <input class="double-input form-control"  type="text" placeholder="名">
				  </div>
				  <div class="form-group">			    
				    <input type="email" class="form-control" placeholder="邮箱">
				  </div>					
				   <div class="form-group">			    
				    <input type="password" class="form-control" placeholder="密码">
				  </div>	
				   <div class="form-group">			    
				    <input type="password" class="form-control" placeholder="重复密码">
				  </div>	
				   <div class="form-group">			    
				    <input type="text" class="form-control" placeholder="验证码">
				  </div>  			
				  <button type="submit" class="btn btn-default">注 册</button>
				</form>
			</div>
		</div>  
		</div>  
		</div>
	</div>
</div>

<div class="container">
	<div class="content-box" ng-controller="matchCtr">
		<h1 class="content-box-heading"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> 热门比赛</h1>
			<div class="row">
				  <div class="col-md-4" ng-repeat="item in match">
					  <div class="item-container">
					  	<img class="item-img" ng-src="{{item.img}}">
					  		<h2 class="item-title">{{item.name}}</h2>
					  		<table class="table table-striped">
					  		<tr><td class="item-table-title">主办方</td><td>{{item.host}}</td></tr>
					  		<tr><td class="item-table-title">类别</td><td>{{item.type}}</td></tr>
					  		<tr><td class="item-table-title">地区</td><td>{{item.district}}</td></tr>
					  		<tr><td class="item-table-title">参赛诱惑</td><td>{{item.reward}}</td></tr>
					  		<tr><td class="item-table-title">报名截止时间</td><td>{{item.sign_due}}</td></tr>
					  		<tr><td class="item-table-title">作品截至时间</td><td>{{item.submit_due}}</td></tr>	
					  		</table>
					  	</div>	
				  </div>
			 </div>
	</div>

	<div class="content-box" ng-controller="teamCtr">
		<h1 class="content-box-heading"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> 热门团队</h1>
			<div class="row">
				  <div class="col-md-4" ng-repeat="item in team">
					  <div class="item-container">
					  	<img class="item-img-round" ng-src="{{item.img}}">
					  		<h2 class="item-title">{{item.name}}</h2>
					  		<table class="table table-striped">
					  		<tr><td class="item-table-title">参与比赛</td><td>{{item.match}}</td></tr>
					  		<tr><td class="item-table-title">团队成员</td><td><span class="item-table-listItem" ng-repeat="m in item.members">{{m}}</span></td></tr>
					  		<tr><td class="item-table-title">团队技能</td><td><span class="label label-success item-table-listItem" ng-repeat="s in item.skills">{{s}}</span></td></tr>
					  		<tr><td class="item-table-title">需求技能</td><td><span class="label label-info item-table-listItem" ng-repeat="rs in item.require_skills">{{rs}}</span></td></tr>
					  		<tr><td class="item-table-title">空缺人数</td><td>{{item.requier_members}}</td></tr>
					  		<tr><td class="item-table-title">团队签名</td><td>{{item.signature}}</td></tr>	
					  		</table>
					  	</div>	
				  </div>
			 </div>
	</div>

		<div class="content-box" ng-controller="worksCtr">
		<h1 class="content-box-heading"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> 热门作品</h1>
			<div class="row">
				  <div class="col-md-4" ng-repeat="item in works">
					  <div class="item-container">
					  	<img class="item-img" ng-src="{{item.img}}">
					  		<h2 class="item-title">{{item.name}}</h2>
					  		<table class="table table-striped">
					  		<tr><td class="item-table-title">比赛</td><td>{{item.match}}</td></tr>
					  		<tr><td class="item-table-title">成员</td><td><span class="item-table-listItem" ng-repeat="m in item.team_members">{{m}}</span></td></tr>
					  		<tr><td class="item-table-title">点评</td><td>{{item.comment}}</td></tr>	
					  		</table>
					  	</div>	
				  </div>
			 </div>
	</div>
</div>
	

	<footer id="page-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="footer-col">
					<div class="footer-heading">KESCI</div>
					<a class="footer-link">关于我们</a>
					<a class="footer-link">产品介绍</a>
					<a class="footer-link">官方博客</a>
					<a class="footer-link">大事记</a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="footer-col">
					<div class="footer-heading">业务合作</div>
					<a class="footer-link">联系我们</a>
					<a class="footer-link">招贤纳士</a>
					<a class="footer-link">隐私政策</a>	
				</div>
			</div>			
			<div class="col-sm-3">
				<div class="footer-col">
					<div class="footer-heading">合作伙伴</div>
					<a class="footer-link">AVAZU</a>
					<a class="footer-link">上海交通大学</a>
					<a class="footer-link">数据分析师俱乐部</a>	
				</div>								
			</div>
			<div class="col-sm-3">
				<div class="footer-col">
					<div class="footer-heading">微信公众平台</div>			
					<img class="footer-qrcode" src="../shared/images/qr.jpg">
				</div>
			</div>
		</div>
		<div id="footer-ICP">© 2015 - 上海彤昕网络科技有限公司. <br>沪ICP备14038218号-1.</div>
	</div>
	</footer>

<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	
</body>
</html>