  <div class="row">
    <div class="col-md-4">
      <div class="content-box">
        <img class="img-thumbnail img-circle profile-img" src="./images/team_icon.png"/>
        <p class="profile-name">{{teamData.basic_info.team_name}}</p>
        <table class="table profile-table ">
        <tr><td class="item-table-title">团队签名</td><td>{{teamData.basic_info.short_description||"暂无"}}</td></tr>        
        <tr><td class="item-table-title">当前成员</td><td>{{teamData.basic_info.teammate_num}}</td></tr>
        <tr><td class="item-table-title">已有技能</td><td><span class="label label-success item-table-listItem" ng-repeat="s in teamData.team_skill">{{s}}</span></td></tr>
        <tr><td class="item-table-title">需求技能</td><td><span class="label label-info item-table-listItem" ng-repeat="rs in teamData.team_require_skill">{{rs}}</span></td></tr>        
        <tr><td class="item-table-title">参加比赛</td><td>{{findCompetitionName(teamData.basic_info.competition_id)||"暂无"}}</td></tr>
         <tr><td class="item-table-title" style="min-width:4em">团队介绍</td><td>{{teamData.basic_info.description||"暂无"}}</td></tr> 
        </table>
        <div style="text-align:center">
        <button class="btn btn-warning" ng-show="manageMode&&(admin_flag==1||admin_flag==0)" ng-click="leaveTeam();"><span class="glyphicon glyphicon-remove" aria-hidden="true"> </span> 离开团队</button>
        <button class="btn btn-danger" ng-show="manageMode&&admin_flag==2" ng-click="dismissTeam();"><span class="glyphicon glyphicon-off" aria-hidden="true"> </span> 解散团队</button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="content-box" ng-repeat="item in teamData.team_members">       
          <span class="label label-primary team-role-lable" ng-show="item.admin_flag==2"><span class="glyphicon glyphicon-flag " aria-hidden="true"> </span> 队长</span>
          <div class="row">   
            <div class="col-sm-3">
              <img class="content-box-item-img img-circle img-thumbnail"  src="./images/de.png">
              <p class="profile-name">{{item.username}}</p>   
                
            </div>  

            <div class="col-sm-9 content-box-item-detail" ng-switch on="item.student_flag">              
               <table class="table table-striped" ng-switch-when="0">                 
			    <tr>
			    	<td class="item-table-title" style="min-width:4em">个人简介</td><td colspan="3">{{item.brief_intro||"暂无"}}</td>
			    </tr>  
			    <tr>
			    	<td class="item-table-title">参赛身份</td>
			    	<td colspan="3">非学生</td>
			    </tr>  			  
			    <tr>                      
			      <td class="item-table-title">技能</td><td colspan="3"><span ng-show="item.skills.length==0">暂无</span><span class="label label-success item-table-listItem" ng-repeat="s in item.skills">{{s}}</span></td>
			    </tr>                 
			    <tr>
			      <td class="item-table-title">所在地区</td><td>{{item.province||"暂无"}}</td>
			      <td class="item-table-title">毕业大学</td><td>{{item.university||"暂无"}}</td>         
			    </tr>			  
			    <tr>	      
			      <td class="item-table-title">专业</td><td>{{item.major||"暂无"}}</td>
			      <td class="item-table-title">公司</td><td>{{item.company||"暂无"}}</td>       
			    </tr> 
			     <tr>
			      <td class="item-table-title">当前比赛</td><td colspan="3">{{findCompetitionName(item.competition_id)||"暂无"}}</td>
			         
			    </tr>
			  </table>  
			  <table class="table table-striped" ng-switch-when="1">                 
			    <tr>
			    	<td class="item-table-title" style="min-width:4em">个人简介</td><td colspan="3">{{item.brief_intro||"暂无"}}</td>
			    </tr>  
			    <tr>
			    	<td class="item-table-title">参赛身份</td>
			    	<td colspan="3">学生</td>
			    </tr>  
			    <tr>                      
			      <td class="item-table-title">技能</td><td colspan="3"><span ng-show="item.skills.length==0">暂无</span><span class="label label-success item-table-listItem" ng-repeat="s in item.skills">{{s}}</span></td>
			    </tr>                 
			    <tr>
			      <td class="item-table-title">所在地区</td><td>{{item.province||"暂无"}}</td>
			      <td class="item-table-title">就读大学</td><td>{{item.university||"暂无"}}</td>         
			    </tr>
			    <tr>	    
			      <td class="item-table-title">学院</td><td>{{item.department||"暂无"}}</td>      
			      <td class="item-table-title">专业</td><td>{{item.major||"暂无"}}</td>
			        
			    </tr>
			    <tr>	      
			      <td class="item-table-title">学位</td><td>{{item.level||"暂无"}}</td>
			      <td class="item-table-title">年级</td><td>{{item.grade||"暂无"}}</td>       
			    </tr>
			   <!-- <tr>
			      <td class="item-table-title">当前比赛</td><td>{{findCompetitionName(item.competition_id)||"暂无"}}</td>
			      <td class="item-table-title">入学时间</td><td>{{item.start_time||"暂无"}}</td>       
			    </tr>-->
			  </table>  	
              <br>  
                  <!--<p ng-show="manageMode&&admin_flag==2&&userStatus.user_id!=item.user_id" style="text-align:right" ng-show=""><button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-erase" aria-hidden="true"> </span> 开除成员</button>--> <!--<button class="btn btn-sm btn-info"><span class="glyphicon glyphicon-check" aria-hidden="true"> </span> 提升为队长</button>--></p>
            </div>         

         </div>
      </div>
      <div class="content-box" ng-if="manageMode&&zudui_msg.length>0">
      	 <div class="item-table-title profile-subtile"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 团队申请/邀请记录</div>		
	 		<div class="media well" ng-repeat="item in zudui_msg">	 		
			  <div class="media-left" style="text-align:center">	
			  	<span ng-if="item.readtime!=0" class="label label-success">已处理</span>		   	  
			    <img class="media-object " src=".//images/apply.png">	
			    <span class="label label-info">{{item.sendtime*1000|date:"MM-dd HH:mm"}}</span>
			    <br>

			  </div>
			  <div class="media-body" style="padding-left:5px;padding-top:20px;">	

			    <h4 ng-if="item.type==1" style="font-weight:bold" class="media-heading">团队邀请用户 <a class="no-dec-link" ng-href="#/entity/user/{{item.user_id}}" target="_blank">{{item.user_name}}</a> 加入</h4>
			    <h4 ng-if="item.type==2" style="font-weight:bold" class="media-heading">用户 <a class="no-dec-link" ng-href="#/entity/user/{{item.user_id}}" target="_blank">{{item.user_name}}</a> 申请加入团队  </h4>			 
			    <h4 ng-if="item.type==3&&item.direction==0" style="font-weight:bold" class="media-heading">用户 <a class="no-dec-link" ng-href="#/entity/user/{{item.user_id}}" target="_blank">{{item.user_name}}</a> 拒绝了团队的邀请</h4>
			    <h4 ng-if="item.type==4&&item.direction==0" style="font-weight:bold" class="media-heading">用户 <a class="no-dec-link" ng-href="#/entity/user/{{item.user_id}}" target="_blank">{{item.user_name}}</a> 同意邀请, 加入了团队</h4>
			    <h4 ng-if="item.type==3&&item.direction==1" style="font-weight:bold" class="media-heading">团队拒绝了用户 <a class="no-dec-link" ng-href="#/entity/user/{{item.user_id}}" target="_blank">{{item.user_name}}</a> 的申请</h4>
			    <h4 ng-if="item.type==4&&item.direction==1" style="font-weight:bold" class="media-heading">团队接受了用户 <a class="no-dec-link" ng-href="#/entity/user/{{item.user_id}}" target="_blank">{{item.user_name}}</a> 的申请, 用户加入了团队</h4>
			    <p ng-if="item.type==2||item.type==1" style="margin-top:15px;">附加消息 {{item.content}}</p>
			    <p ng-if="item.type==2&&item.readtime==0&&admin_flag==2"><button ng-click="acceptApplication(item.record_id,item.team_id,$index);" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> 接受申请</button> 
		    <button class="btn btn-xs btn-danger" ng-click="rejectApplication(item.record_id,item.team_id,$index);"><span class="glyphicon glyphicon-remove" aria-hidden="true"> </span> 拒绝申请</button></p>
			  </div>

		</div>
      </div>
    </div>
  
  </div>  

