<div class="container" style="color:#555;letter-spacing: 1px;">
<div class="content-box">   
  <div class="center-block" style="width:80%;max-width:600px;font-size:1.2em;line-height:1.8em;">
    <h2 style="text-align:center">——  数据获取方式介绍 ——</h2>
    <br>
    <ul>
      <li>本次开放数据大赛的数据开放规模和范围上有着较大的创新与突破，但模式创新的背后也存在着数据安全和隐私的隐患。为了保障数据安全，并杜绝潜在的隐私问题, 获取完整数据需要执行必要的数据授权规则。</li><br>
      <li>具体流程如下
        <ol>
          <li>参赛队伍的队长在比赛官方网站 Kesci.com 注册并建立团队</li>
          <li>队长将队长的身份证、学生证、已签字的数据发布授权书（打印版） 照片发送至 admin@kesci.com 。<br> <b>注:</b>以非学生身份参赛的选手无需上传学生证，但需要手持身份证拍照，要求身份证和面部清晰</li>
          <li>赛事组委会将在两天内进行数据授权的审核，完成审核后队长将收到授权邮件和数据下载的ftp地址、登录账号名和密码。</li>
        </ol>

        </li><br>
      <li>如有疑问请咨询 <b>admin@kesci.com</b></li>
    </ol>
    <br>
    <h2 style="text-align:center">——  数据发布授权书下载 ——</h2>
    <br>
    <p style="text-align:center"> <a href="/kesci_frontend/download/数据发布授权书.docx" target="_blank" >点此下载</a></p>
    <br>
    <br>
  </div>
  </div>
</div>