<div class="content-box" style="background:url(../shared/images/training_heading.jpg) no-repeat center;background-size:cover;color:#eee;border-radius:10px;text-shadow:0px 0px 10px #333">
	<div style="text-align:center;padding:90px 0">
		<h1>EMC - Kesci 数据训练营</h1>
		<br>			
		<p style="font-size:1.5em;"><span ng-show="trainingType=='r'">数据科学训练营 (R Programming)</span><span ng-show="trainingType=='excel'">数据分析训练营 (Excel)</span></p>
	</div>
</div>
<div class="content-box">
		<div class="center-block" style="width:80%;max-width:600px;font-size:1.2em;line-height:1.8em;">
		<h2 style="text-align:center">—— 训练营简介 ——</h2>
		<br>
		<ul>
		<li>训练营将根据申请同学的背景和技能情况，基于能力互补、水平接近的原则，成员会分配到最合适的小组之中。训练营将通过互联网实现，小组通过微信群组进行问题讨论，并通过“有道云协作”进行学习笔记的记录和考评。基于自愿申请的原则，每个小组将有一位组长对小组成员的学习进度进行监督和考评。优秀组员将获得岗位机会、奖品以及大数据行业的职业规划咨询服务，优秀组长更是会得到现金奖励</li>
		<br>
		<li>EMC卓越研究集团和Kesci将合作，为成员提供高品质的学习材料、训练项目和学习指导。训练营的成员将获得价值丰富的内部学习资料，每个小组也将拥有一位资深专家作为导师，解答小组成员在学习过程中产生的问题。</li>
		<br>
		<li>报名请登录 www.kesci.com 注册并申请“数据分析训练营”或“数据科学训练营”。由于优秀师资有限，每一训练营仅有50个成员名额哦，我们会根据申请人的学习意愿，和个人资料中的基本经历提供成员席位，以保证每一位成员最棒的学习体验和最多的学习收获。</li>
		</ul>
		<br><br>
		<h2 style="text-align:center">—— 训练营内容 ——</h2>
		<br>
		<ul>
		<li>为了让缺少基础的同学掌握数据分析，上海交大和EMC卓越研究集团还将面向有兴趣的同学和社会人士举办数据训练营，交大教授、博士和EMC的资深大数据专家将担任指导。</li>
		<br>
		<li>训练营包括基于Excel工具，面向社科、商科同学的数据分析训练营，以及基于R语言工具，面向数理、计算机、工科类同学的数据科学训练营等。通过28天的社群化、实践化学习，成员将掌握建模与分析基础技能，收获一批爱好数据分析的学习伙伴，EMC卓越研究集团也将为成员们提供企业级的专业数据分析工具和实习岗位，帮助同学对数据分析实现从“有兴趣”到“有能力”的跨越。</li>
		</ul>
		<br>

		<h2 style="text-align:center">—— 参与训练营管理 ——</h2>
		<br>
		<b>在训练营中,你可以申请成为组长</b><br>
		<ul>
			<li>职责：
				<ol>
					<li>每日检查组员打卡表，将情况简短总结到组长管理表中。</li>
					<li>关心组员学习情况，及时监督反馈。</li>
					<li>组织小组分析选定的课题，提交最终参赛作品。</li>
				</ol>
			</li>
			<li>福利：
				<ol>
					<li>锻炼组织能力、项目执行力与管理能力</li>
					<li>进入组长微信群，获得专属组长的资源、岗位、培训福利。</li>
					<li>Kesci将在训练营结束将评选出最佳组长，奖励500元现金以表彰组长对于成员们的贡献。</li>
				</ol>
			</li>
		</ul>
		<br>
		<h2 style="text-align:center">—— 成员公约 ——</h2>
		<br>
		<p>加入“EMC - Kesci数据训练营”，你有足够的决心和行动力去走进数据科学的大门，掌握新的分析技术，提高自身竞争力。你希望活学活用，在小组中获得成长，在项目实践和比赛实践中获得真正的数据分析能力。</p> 
		<p><b>为保证训练质量，我们约定：</b></p>
		<ol>
			<li>在这三十日中每日完成大约一小时的额定任务，并争取吸收超额内容。<br>（如果不小心漏了一天，第二天快快补起，不要偷懒哦）</li>
			<li>每日在打卡，简短记录学习情况并反思。</li>
			<li>学习完每日任务，有空到同组小伙伴的打卡表中互相鼓励。</li>
			<li>在组长的带领下，与小伙伴通力合作，完成大赛课题。</li>
		</ol>
		<br>
		<h2 style="text-align:center">—— 训练营课程表 ——</h2>
		<br>		
	</div>
	<p style="text-align:center;"><img ng-src="{{'../shared/images/training_'+trainingType+'_detail.png'}}" style="width:90%;height:auto"></p>
</div>