#page-header{ background: #0078d8;box-shadow:#111 3px 0px 5px;color: white;padding: 0.5em 0;}
#header-logo{	
	text-shadow:#444 1px 1px 3px;
	font-size: 1.5em;
}
#news-news-div{height: 90em;}
#news-recommed-div{height: 90em;}
#view-container{background: white;	box-shadow: #aaa 1px 1px 5px;padding: 1.4em;}