	<ul class="nav nav-tabs">
	  <li role="presentation" ng-class="{'active':currentTab==0}" ng-click="currentTab=0"><a><span class="glyphicon glyphicon-pawn" aria-hidden="true"></span> 发现比赛</a></li>    
	  <li role="presentation" ng-class="{'active':currentTab==1}" ng-click="currentTab=1"><a><span class="glyphicon glyphicon-star" aria-hidden="true"></span> 发现团队</a></li>
	  <li role="presentation" ng-class="{'active':currentTab==2}" ng-click="currentTab=2"><a><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 发现伙伴</a></li>
	</ul>
<div class="content-box no_margintop">
	<div class="discover-form-container" ng-show="currentTab==0">
			<form>

			  <div class="form-group">
			  	<label>比赛名称</label>			  
			    <input type="text" ng-model="competitionSearch_name" class="form-control" placeholder="输入关键字查找">
			  </div>
			  <p class="text-info">使用Ctrl键可以多选哟!</p>
			  <div class="form-group">
			  	<label>地区</label>			  
			    <select  multiple class="form-control" ng-model="competitionSearch_selectedDistrict" ng-options="m for m in selectSource.districtList"> </select>
			    <div class="discover-label-container"><span class="label label-success item-table-listItem" ng-repeat="rs in competitionSearch_selectedDistrict">{{rs}}</span></div>
			  </div>
			  <div class="form-group">
			    <label>类型</label>
				 <select class="form-control" ng-model="competitionSearch_selectedType" multiple>
				  <option>设计</option>
				  <option>编程</option>				  			  
				</select>
			  	<div class="discover-label-container"><span class="label label-success item-table-listItem" ng-repeat="rs in competitionSearch_selectedType">{{rs}}</span></div> 
			</div>
			<div class="form-group">
			    <label>时间</label>	
			    <select class="form-control" ng-model="competitionSearch_selectedTime">
				  <option>不限</option>
				  <option>一个月内</option>
				  <option>三个月内</option>	
				  <option>半年内</option>				  			  
				</select>		   
			</div>
			  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查 找</button>
			   <button type="button" class="btn btn-default" ng-click="clearAllForms();">清 除</button>
			</form>
	</div>
		<div class="discover-form-container" ng-show="currentTab==1">
			<form>
			  <div class="form-group">
			  	<label>团队名称</label>			  
			    <input type="text" ng-model="teamSearch_name" class="form-control" placeholder="输入关键字查找">
			  </div>
			   <p class="text-info">使用Ctrl键可以多选哟!</p>
			  <div class="form-group">
			    <label>参与比赛</label>
				<select multiple class="form-control" ng-model="teamSearch_selectedCompetition" ng-options="m for m in selectSource.competitionList"></select>	
				<div class="discover-label-container"><span class="label label-success item-table-listItem" ng-repeat="rs in teamSearch_selectedCompetition">{{rs}}</span></div> 
			</div>
			  <div class="form-group">
			  	<label>地区</label>			  
			  	<select multiple class="form-control" ng-model="teamSearch_selectedDistrict" ng-options="m for m in selectSource.districtList"> </select>	
			  	<div class="discover-label-container"><span class="label label-success item-table-listItem" ng-repeat="rs in teamSearch_selectedDistrict">{{rs}}</span></div> 
			  </div>
			  <div class="form-group">
			  	<label>需求技能</label>				
			  	<select  multiple class="form-control" ng-model="teamSearch_selectedSkill" ng-options="m for m in selectSource.skillList"> </select><br>		  		
			  	<div class="discover-label-container"><span class="label label-success item-table-listItem" ng-repeat="rs in teamSearch_selectedSkill">{{rs}}</span></div>  	
			  </div>
			   <div class="checkbox">
			    <label>
			      <input type="checkbox"> 列出已满的团队
			    </label>
			  </div>
			  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查 找</button>
			   <button type="button" class="btn btn-default" ng-click="clearAllForms();">清 除</button>
			</form>
	</div>
	<div class="discover-form-container" ng-show="currentTab==2">
			<form>
			  <div class="form-group">
			  	<label>用户姓名</label>			  
			    <input type="text" ng-model="peopleSearch_name" class="form-control" placeholder="输入关键字查找">
			  </div>
			   <p class="text-info">使用Ctrl键可以多选哟!</p>
			 <div class="form-group">
			    <label>关注的比赛</label>
				<select class="form-control"  multiple ng-model="peopleSearch_selectedCompetition" ng-options="m for m in selectSource.competitionList"> </select>
				<div class="discover-label-container"><span class="label label-success item-table-listItem" ng-repeat="rs in peopleSearch_selectedCompetition">{{rs}}</span></div>  
			</div>
			  <div class="form-group">
			  	<label>地区</label>			  
			  	<select multiple class="form-control" ng-model="peopleSearch_selectedDistrict" ng-options="m for m in selectSource.districtList"> </select>	
			  	<div class="discover-label-container"><span class="label label-success item-table-listItem" ng-repeat="rs in peopleSearch_selectedDistrict">{{rs}}</span></div> 
			  </div>
			  <div class="form-group">
			  	<label>技能</label>				
			  	<select  multiple class="form-control" ng-model="peopleSearch_selectedSkill" ng-options="m for m in selectSource.skillList"> </select><br>
			  	<div class="discover-label-container"><span class="label label-success item-table-listItem" ng-repeat="rs in peopleSearch_selectedSkill">{{rs}}</span></div>  	
			  </div>
			  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查 找</button>
			  <button type="button" class="btn btn-default" ng-click="clearAllForms();">清 除</button>
			</form>
	</div>
</div>