<!--<div class="content-box " ng-repeat="item in my_competition">
		<div class="content-box-item" >
	  		<div class="row">		
	  			<div class="col-sm-2"><img class="content-box-item-img img-thumbnail"  ng-src="{{item.img}}"></div>	
	  			<div class="col-sm-4 content-box-item-detail">	
		  			<div class="item-title text-center">{{item.name}} </div>
		  			<table class="table table-striped">						  		
				  		<tr>							  			
				  			<td class="item-table-title">阶段</td><td>{{competition_stage_map[item.stage]}}</td>
				  		</tr>							  		
				  		<tr>
				  			<td class="item-table-title">报名截止</td><td>{{item.sign_due}}</td>
				  		</tr>
				  		<tr>
					  		<td class="item-table-title">作品截止</td><td>{{item.submit_due}}</td>					  		  	
				  		</tr>
				  	</table>							  		
	  			</div>
	  			<div class="col-sm-2"><img class="content-box-item-img img-thumbnail img-circle"  ng-src="{{item.my_team.img}}"></div>
	  			<div class="col-sm-4 content-box-item-detail">
		  			<div class="item-title text-center">{{item.my_team.name}}</div>
		  			<table class="table table-striped">					  		
				  	
				  		<tr>
				  			<td class="item-table-title">团队成员</td><td><span ng-repeat="t in item.my_team.members">{{t}} </span></td>
				  		</tr>
				  		<tr>							  			
				  			<td class="item-table-title">团队技能</td><td><span class="label label-success item-table-listItem" ng-repeat="s in item.my_team.skills">{{s}}</span></td>							  			
				  		</tr>		
				  		<tr>
				  			<td class="item-table-title">团队签名</td><td>{{item.my_team.signature}}</td>
				  		</tr>
				  	</table>
			  	</div>
	  		</div>
		</div>
</div>

-->
<div ng-repeat="item in userStatus.unread_notices" class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" aria-label="Close" ng-click="markRead($index);"><span aria-hidden="true">&times;</span></button>
  <strong>{{item.title}}</strong> {{item.content}}
</div>

	<div class="content-box ">
	<div style="float:right"><a href="#/static/emc_qa"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> EMC杯智慧校园开放数据大赛 Q&amp;A</a></div>
	
	<span ng-show="emc_data.is_reg.comp_1===true" class="label label-success" style="font-size:1em"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 已报名</span>
<!-- 		<span ng-show="emc_data.is_reg.comp_1===true" class="label label-info" style="font-size:1em"> <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 审核中</span> -->
	<span class="label label-warning" style="font-size:1em" ng-show="emc_data.is_reg.comp_1===false" ><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 未报名</span>
	
		
		<div class="content-box-item" >
	  		<div class="row">		
	  			<div class="col-sm-2"><img class="content-box-item-img img-thumbnail"  src="../home_def/images/emc/emc_comp.png">	  			
	  				<div style="text-align:center" ng-show="emc_data.is_reg.comp_1===false"><a href="#/action/competition/register/1" class="btn btn-sm btn-default"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 现在报名</a></div>
	  			</div>	
	  			<div class="col-sm-4 content-box-item-detail">	
		  			<div class="item-title text-center">EMC杯智慧校园开放数据大赛 </div>
		  			<table class="table table-striped">						  		
				  		<tr>							  			
				  			<td class="item-table-title">阶段</td><td>报名中</td>
				  		</tr>							  		
				  		<tr>
				  			<td class="item-table-title">宣讲会</td><td>4月9日19：00,网络中心8楼</td>
				  		</tr>
				  		<tr>
					  		<td class="item-table-title">数据发布时间</td><td>2015-4-10</td>  		  	
				  		</tr>
				  	</table>							  		
	  			</div>
	  			<div class="col-sm-1"><!--<img class="content-box-item-img img-thumbnail img-circle"  src="../shared/images/undefined.png">--></div>
	  			<div class="col-sm-5 content-box-item-detail">
	  				<div class="item-title text-center">　</div>
		  				<table class="table table-striped">						  		
				  		<tr>			
				  		<td class="item-table-title">作品截止时间</td><td>2015-5-13</td>							  			
				  			
				  		</tr>							  		
				  		<tr>
				  			<td class="item-table-title">决赛时间</td><td>2015-5-20</td>
				  		</tr>
				  		<tr>
				  			<td class="item-table-title">咨询邮箱</td><td>admin@kesci.com</td>
					  		  	
				  		</tr>
				  	</table>				
			  	</div>
	  		</div>
		</div>
	<div style="float:right"><a href="#/static/emc">了解更多...</a></div>
	
</div>

	<div class="content-box ">
	<div style="float:right"><a href="#/static/emc_qa"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> 数据训练营 Q&amp;A</a></div>
		<span ng-show="emc_data.is_reg.asso_1===true" class="label label-success" style="font-size:1em"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 已报名</span>
		<span ng-show="emc_data.is_reg.asso_1===true" class="label label-info" style="font-size:1em"> <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 审核中</span>
		<span ng-show="emc_data.is_reg.asso_1===false" class="label label-warning" style="font-size:1em"> <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 未报名</span>
		<div class="content-box-item" >

	  		<div class="row">		
	  			<div class="col-sm-2"><img class="content-box-item-img img-thumbnail"  src="../home_def/images/emc/trainning_g.png">
	  					<!--<div style="text-align:center" ng-show="emc_data.is_reg.asso_1===false"><a href="#/action/association/register/1" class="btn btn-sm btn-default"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 现在报名</a></div>-->
	  			</div>	
	  			<div class="col-sm-4 content-box-item-detail">	
		  			<div class="item-title text-center">数据科学训练营 </div>
		  			<table class="table table-striped">						  		
				  		<tr>							  			
				  			<td class="item-table-title">阶段</td><td>报名中</td>
				  		</tr>							  		
				  		<tr>
				  			<td class="item-table-title">内容</td><td>R语言</td>
				  		</tr>
				  		<tr>
					  		<td class="item-table-title">面向群体</td><td>以理工科同学为主体</td>					  		  	
				  		</tr>
				  	</table>							  		
	  			</div>
	  			<div class="col-sm-1"></div>
	  			<div class="col-sm-5 content-box-item-detail">
		  			<div class="item-title text-center">主要任务</div> 		
		  			<table class="table table-striped">						  		
				  		<tr>							  			
				  			<td class="item-table-title">1)</td><td>阅读教材《R语言实战》</td>
				  		</tr>							  		
				  		<tr>
				  			<td class="item-table-title">2)</td><td>在DataCamp.com平台，完成每周一次的大作业任务</td>
				  		</tr>
				  		<tr>
					  		<td class="item-table-title">3)</td><td>结业任务为组队参加EMC杯智慧校园开放数据大赛</td>					  		  	
				  		</tr>			  	</table>	
			  	</div>
	  		</div>
		</div>
		<div style="text-align:right"><a href="#/static/training/r">了解更多...</a></div>
</div>

	<div class="content-box ">
	<div style="float:right"><a href="#/static/emc_qa"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> 数据训练营 Q&amp;A</a></div>
		<span ng-show="emc_data.is_reg.asso_2===true" class="label label-success" style="font-size:1em"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 已报名</span>
		<span ng-show="emc_data.is_reg.asso_2===true" class="label label-info" style="font-size:1em"> <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 审核中</span>
		<span ng-show="emc_data.is_reg.asso_2===false" class="label label-warning" style="font-size:1em"> <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 未报名</span>
		<div class="content-box-item" >
	  		<div class="row">		
	  			<div class="col-sm-2"><img class="content-box-item-img img-thumbnail"  src="../home_def/images/emc/trainning_o.png">
	  					<!--<div style="text-align:center" ng-show="emc_data.is_reg.asso_2===false"><a href="#/action/association/register/2" class="btn btn-sm btn-default"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 现在报名</a></div>-->
	  			</div>	
	  			<div class="col-sm-4 content-box-item-detail">	
		  			<div class="item-title text-center">数据分析训练营 </div>
		  			<table class="table table-striped">						  		
				  		<tr>							  			
				  			<td class="item-table-title">阶段</td><td>报名中</td>
				  		</tr>							  		
				  		<tr>
				  			<td class="item-table-title">学习内容</td><td>Excel</td>
				  		</tr>
				  		<tr>
					  		<td class="item-table-title">面向群体</td><td>以社科同学为主体</td>					  		  	
				  		</tr>
				  	</table>							  		
	  			</div>
	  			<div class="col-sm-1"></div>
	  			<div class="col-sm-5 content-box-item-detail">		  			
				  		<div class="item-title text-center">主要任务</div> 		
					  			<table class="table table-striped">						  		
							  		<tr>							  			
							  			<td class="item-table-title">1)</td><td>阅读《你早该这么玩Excel》、《谁说菜鸟不会数据分析》</td>
							  		</tr>							  		
							  		<tr>
							  			<td class="item-table-title">2)</td><td>完成每周一次的大作业任务</td>
							  		</tr>
							  		<tr>
								  		<td class="item-table-title">3)</td><td>参加小组PK赛</td>					  		  	
							  		</tr>
							 </table>	
			  	</div>
	  		</div>

		</div>
		<div style="text-align:right"><a href="#/static/training/excel">了解更多...</a></div>
</div>