<div class="content-box " ng-repeat="item in my_match">
		<div class="content-box-item" >
	  		<div class="row">		
	  			<div class="col-sm-2"><img class="content-box-item-img img-thumbnail"  ng-src="{{item.img}}"></div>	
	  			<div class="col-sm-4 content-box-item-detail">	
		  			<div class="item-title text-center">{{item.name}} </div>
		  			<table class="table table-striped">						  		
				  		<tr>							  			
				  			<td class="item-table-title">阶段</td><td>{{match_stage_map[item.stage]}}</td>
				  		</tr>							  		
				  		<tr>
				  			<td class="item-table-title">报名截止</td><td>{{item.sign_due}}</td>
				  		</tr>
				  		<tr>
					  		<td class="item-table-title">作品截止</td><td>{{item.submit_due}}</td>
					  		  	
				  		</tr>
				  	</table>							  		
	  			</div>
	  			<div class="col-sm-2"><img class="content-box-item-img img-thumbnail img-circle"  ng-src="{{item.my_team.img}}"></div>
	  			<div class="col-sm-4 content-box-item-detail">
		  			<div class="item-title text-center">{{item.my_team.name}}</div>
		  			<table class="table table-striped">					  		
				  	
				  		<tr>
				  			<td class="item-table-title">团队成员</td><td><span ng-repeat="t in item.my_team.members">{{t}} </span></td>
				  		</tr>
				  		<tr>							  			
				  			<td class="item-table-title">团队技能</td><td><span class="label label-success item-table-listItem" ng-repeat="s in item.my_team.skills">{{s}}</span></td>							  			
				  		</tr>		
				  		<tr>
				  			<td class="item-table-title">团队签名</td><td>{{item.my_team.signature}}</td>
				  		</tr>
				  	</table>
			  	</div>
	  		</div>
		</div>
</div>



