<div class="row page-frame-box">
		<div class="col-md-8">
			<div class="content-box">
				<div class="content-box-heading">关注的比赛</div>
				<div ng-show="!followed_match||followed_match.length<1" class="content-box-empty-info"> 暂无内容</div>
				<div class="content-box-item" ng-repeat="item in followed_match">						
					  		
					  		<div class="row">		
					  			<div class="col-sm-3"><img class="content-box-item-img img-thumbnail"  ng-src="{{item.img}}"></div>	
					  			<div class="col-sm-9 content-box-item-detail">	
					  			<div class="item-title">{{item.name}} 
					  				<span >{{match_stage_map[item.stage]}}</span>					  				
					  			</div>
					  			<table class="table table-striped">						  		
							  		<tr>
							  			<td class="item-table-title">主办方</td><td>{{item.host}}</td>
							  			<td class="item-table-title">类别</td><td>{{item.type}}</td>
							  		</tr>
							  		<tr ng-show="item.stage=='not_start'">
							  			<td class="item-table-title">地区</td><td>{{item.district}}</td>
							  			<td class="item-table-title">参赛诱惑</td><td>{{item.reward}}</td>
							  		</tr>	
							  		<tr ng-show="item.stage=='not_start'">
								  		<td class="item-table-title">报名截止时间</td><td>{{item.sign_due}}</td>
								  		<td class="item-table-title">已报名队伍</td><td>{{item.team_num}}</td>
							  		</tr>
							  		<tr ng-show="item.stage=='ongoing'||item.stage=='finished'">
								  		<td class="item-table-title">作品截止时间</td><td>{{item.submit_due}}</td>
								  		<td class="item-table-title">参赛队伍</td><td>{{item.team_num}}</td>
							  		</tr>	
							  		<tr ng-show="item.stage=='result'">
								  		<td class="item-table-title">获奖队伍</td><td colspan="3"><span ng-repeat="t in item.win_teams">{{t}} </span></td>	  		
							  		</tr>	
							  	</table>							  		
					  			</div>
					  		</div>
				</div>
			</div>
			<div class="content-box">
				<div class="content-box-heading">好友动态</div>
				<div class="content-box-empty-info" ng-show="!friend_news||friend_news.length<1"> 暂无内容</div>
				<table>
				<tr class="friend-news-item" ng-repeat="item in friend_news">
					<td class="friend-news-img-warpper"><img class="content-box-item-img img-thumbnail img-circle"  ng-src="{{item.img}}"></td>
					<td class="friend-news-content">					
							<span ng-show="item.type=='friend_join_team'"><b>{{item.friend}}</b> 加入了团队<b> {{item.team}}</b> , 参加比赛<b> {{item.match}}</b></span>
							<span ng-show="item.type=='friend_win_prize'"><b>{{item.friend}}</b> 在<b> {{item.match}}</b> 中获得了<b> {{item.prize}}</b></span>
							<span ng-show="item.type=='friend_create_team'"><b>{{item.friend}}</b> 创建了团队<b> {{item.team}}</b> , 参加比赛<b> {{item.match}}</b></span>
							<span ng-show="item.type=='friend_follow_match'"><b>{{item.friend}}</b> 关注了<b> {{item.match}}</b> </span>	
									
					</td>					
				</tr>			
			</table>
		</div>
		</div>
		<div class="col-md-4">
			<div id="news-recommed-div" class="content-box">
				<div class="content-box-heading">推荐比赛</div>
				<div ng-repeat="item in recommed_match" class="recommed-item">
					<div class="item-title">{{item.name}}</div>
					<table class="table table-striped">
				  		<tr><td class="item-table-title">主办方</td><td>{{item.host}}</td></tr>
				  		<tr><td class="item-table-title">类别</td><td>{{item.type}}</td></tr>
				  		<tr><td class="item-table-title">地区</td><td>{{item.district}}</td></tr>
				  		<tr><td class="item-table-title">参赛诱惑</td><td>{{item.reward}}</td></tr>
				  		<tr><td class="item-table-title">报名截止时间</td><td>{{item.sign_due}}</td></tr>
				  		<tr><td class="item-table-title">作品截至时间</td><td>{{item.submit_due}}</td></tr>	
			  		</table>
		  		</div>
		  		<div class="content-box-heading">推荐团队</div>
		  		<div ng-repeat="item in recommed_team" class="recommed-item">
					<div class="item-title">{{item.name}}</div>
			  		<table class="table table-striped">
				  		<tr><td class="item-table-title">比赛</td><td>{{item.match}}</td></tr>
				  		<tr><td class="item-table-title">成员</td><td><span class="item-table-listItem" ng-repeat="m in item.members">{{m}}</span></td></tr>
				  		<tr><td class="item-table-title">技能</td><td><span class="label label-success item-table-listItem" ng-repeat="s in item.skills">{{s}}</span></td></tr>
				  		<tr><td class="item-table-title">需求</td><td><span class="label label-info item-table-listItem" ng-repeat="rs in item.require_skills">{{rs}}</span></td></tr>
				  		<tr><td class="item-table-title">空缺</td><td>{{item.requier_members}}</td></tr>
				  		<tr><td class="item-table-title">签名</td><td>{{item.signature}}</td></tr>	
			  		</table>
		  		</div>
		  		<div class="content-box-heading">推荐好友</div>

		  		<div ng-repeat="item in recommed_friend" class="recommed-item">
		  				<img class="content-box-item-img img-thumbnail img-circle"  ng-src="{{item.img}}">
						<div class="item-title" style="text-align:center">{{item.name}}</div>
				  		<table class="table table-striped">
					  		<tr><td class="item-table-title">地区</td><td>{{item.district}}</td></tr>					  		
					  		<tr><td class="item-table-title">技能</td><td><span class="label label-success item-table-listItem" ng-repeat="s in item.skills">{{s}}</span></td></tr>					  		
					  		<tr><td class="item-table-title">签名</td><td>{{item.signature}}</td></tr>	
				  	</table>
			  	</div>		  		
		  		
		  		<div class="content-box-heading">学习资料</div>
		  		 <div ng-repeat="item in recommed_course" class="recommed-item">
		  		 <a ng-href="{{item.url}}">{{item.title}}</a>
		  		
			  	</div>
			</div>
		</div>
</div>	