<footer id="page-footer">
<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<div class="footer-col">
				<div class="footer-heading">KESCI</div>
				<a class="footer-link">关于我们</a>
				<a class="footer-link">产品介绍</a>
				<a class="footer-link">官方博客</a>
				<a class="footer-link">大事记</a>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="footer-col">
				<div class="footer-heading">业务合作</div>
				<a class="footer-link">联系我们</a>
				<a class="footer-link">招贤纳士</a>
				<a class="footer-link">隐私政策</a>	
			</div>
		</div>			
		<div class="col-sm-3">
			<div class="footer-col">
				<div class="footer-heading">合作伙伴</div>
				<a class="footer-link">AVAZU</a>
				<a class="footer-link">上海交通大学</a>
				<a class="footer-link">数据分析师俱乐部</a>	
			</div>								
		</div>
		<div class="col-sm-3">
			<div class="footer-col">
				<div class="footer-heading">微信公众平台</div>			
				<img class="footer-qrcode" src="../shared/images/qr.jpg">
			</div>
		</div>
	</div>
	<div id="footer-ICP">© 2015 - 上海彤昕网络科技有限公司. <br>沪ICP备14038218号-1.</div>
</div>
</footer>