<div class="row">
	<div class="col-md-3 ">
			<div class="content-box">
				<img class="img-thumbnail img-circle profile-img" ng-src="{{userStatus.img}}"/>
				<p class="profile-name">{{userStatus.username}}</p>
				<table class="table profile-table">
				<!--<tr><td class="item-table-title">用户ID</td><td>{{userStatus.user_id}}</td></tr>	-->
				<tr><td class="item-table-title">邮箱</td><td>{{userStatus.email}}</td></tr>		
				</table>
			</div>
		<div class="list-group content-box-nopadding">			
			  <a ng-click="currentTab=0;modelLoader(0);" ng-class="{'active':currentTab==0}" class="list-group-item">系统公告<span class="badge">{{official_notice.notices_num}}</span></a>
			  <a ng-click="currentTab=1;modelLoader(1);" ng-class="{'active':currentTab==1}" class="list-group-item">站内信</a>			 
			  <a ng-click="currentTab=2;modelLoader(2);" ng-class="{'active':currentTab==2}" class="list-group-item">组队消息</a>		
		</div>
	</div>

	<div class="col-md-9">
		<div ng-switch on="currentTab">
			<div class="content-box usercenter-msg-tabbox" ng-switch-when="0">
				<div ng-show="official_notice.notices_num==0" style="margin-top:15em;text-align:center" class="text-muted">当前还没有消息哦</div>
				<div class="media well" ng-repeat="item in official_notice.notices">
					  <div class="media-left" style="text-align:center">					  
					    <img class="media-object " src="../shared/images/kesci_mid.png">			  
					    <span class="label label-default" ng-show="item.read_flag==1">已读</span>
					    <span class="label label-info" ng-show="item.read_flag==0" ng-click="markRead('official_notices',$index);">标记为已读</span>
					    <br>
					  </div>
					  <div class="media-body" style="padding-left:5px;padding-top:10px;">
					    <h4 style="font-weight:bold" class="media-heading">{{item.title}}</h4>
					    <p style="margin-top:15px;">{{item.content}}</p>
					  </div>
				</div>
			</div>

			<div ng-switch-when="1">				
			<div class="usercenter-msg-panel" ng-repeat="chatSession in p2pChatData">
				<div ng-click="chatSession.show=!chatSession.show;scrollChat();" class="usercenter-msg-panel-heading">与 {{chatSession[0].friend_name}} 的对话 ({{chatSession.length}})	</div>
				<div class="usercenter-msg-panel-body" ng-show="chatSession.show">	
							<!--<div ng-show="!chatSession.showAll&&chatSession.length>1" style="text-align:center;font-size:1em;"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span> </div>-->
							<div class="usercenter-msg-container">
								<div ng-repeat="item in chatSession">
									<div>
									<div ng-if="item.sender_id==item.user_id" class="alert alert-info usercenter-msg-mine">
										<div><b>{{userStatus.username}}</b> ( {{item.sendtime*1000|date:"yyyy-MM-dd hh:mm:ss" }} )</div>
										<div>{{item.content}}</div>
									</div>
									<div ng-if="item.sender_id!=item.user_id" class="alert usercenter-msg-others">
										<div><b>{{chatSession[0].friend_name}}</b> ( {{item.sendtime*1000|date:"yyyy-MM-dd hh:mm:ss" }} )</div>
										<div>{{item.content}}</div>
									</div>
									</div>
								</div>								
							</div>
							<p style="text-align:center;line-height:2em">						
							<a ng-click="sendP2pMsg(chatSession[0].friend_id,chatSession[0].friend_name);" class="insite-msg-action">
			  			发新消息 <span class="glyphicon glyphicon-send" aria-hidden="true"></span></a>
			  				<a ng-click="modelLoader(1,true,true);" class="insite-msg-action">
			  			刷新 <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
						</p>
				</div>
		</div>
		</div>
 
			<div ng-switch-when="2" class="content-box usercenter-msg-tabbox">
				<div style="margin-top:15em;text-align:center" class="text-muted">当前还没有消息哦2</div>
			</div>

		</div>

	</div>	
</div>	