	<div class="row">
		<div class="col-md-3">
			<div class="content-box">
				<img class="img-thumbnail img-circle profile-img" ng-src="{{myprofile.img}}"/>
				<p class="profile-name">{{myprofile.name}}</p>
				<table class="table profile-table">
				<tr><td class="item-table-title">用户ID</td><td>{{myprofile.user_id}}</td></tr>	
				<tr><td class="item-table-title">当前竞赛</td><td>{{myprofile.current_competition}}</td></tr>
				<tr><td class="item-table-title">回复率</td><td>{{myprofile.reply_rate}}</td></tr>
				<tr><td class="item-table-title">回复时间</td><td>{{myprofile.avg_reply_time}}</td></tr>
				
				</table>
			</div>
		</div>
		<div class="col-md-9">
		<div class="content-box profile-content">
			<form>			
					<table class="table profile-table">						  		
				  		<tr>
					  		<td style="width:8em" class="item-table-title">地区</td>
					  		<td> 
					  		<select class="form-control" ng-model="myprofile.district" ng-options="m for m in selectSource.districtList"> </select>	
					  		</td>
				  		</tr>
				  		<tr>
				  			<td class="item-table-title">大学</td>
					  		<td><select class="form-control" ng-model="myprofile.university" ng-options="m for m in selectSource.universityList"> </select>
					  		</td>
				  		</tr>
				  		<tr>
					  		<td class="item-table-title">个人简介</td>
					  		<td><input type="text" ng-model="myprofile.bref_intro" class="form-control">
					  		</td>
				  		</tr>
				  		
				  		<tr>
					  		<td class="item-table-title">技能</td>
					  		<td><select  multiple class="form-control" ng-model="myprofile.skills" ng-options="m for m in selectSource.skillList"> </select><br>	  		
				  			<div class="profile-label-container"><span class="label label-success item-table-listItem" ng-repeat="rs in myprofile.skills">{{rs}}</span></div>  
				  			</td>
			  			</tr>

			  			<tr>
				  			<td class="item-table-title">兴趣</td>
				  			<td><select  multiple class="form-control" ng-model="myprofile.interests" ng-options="m for m in selectSource.interestsList"> </select><br>	  		
				  			<div class="profile-label-container"><span class="label label-success item-table-listItem" ng-repeat="rs in myprofile.interests">{{rs}}</span></div>  
				  			</td>
			  			</tr>
			  			</table>
			  		
				  	  <div class="item-table-title profile-subtile">教育经历</div>				  	  
				  	  <div class="profile-well-container">
					  	  <div class="well" ng-repeat="item in myprofile.edu_exps">			  			
					  			<span class="label label-info">{{$index+1}}</span>
					  				<table class="table" style="background:#f5f5f5">
					  					<tr>
					  						<td>学校</td><td colspan="3"><input type="text" ng-model="item.university" class="form-control"></td>
					  					</tr>
					  					<tr>
					  						<td>时间</td><td><input type="text" ng-model="item.start_date" class="form-control"></td>
					  						<td>~</td><td><input type="text" ng-model="item.end_date" class="form-control"></td>
					  					</tr>
					  					<tr>
					  						<td>院系</td><td colspan="3"><input type="text" ng-model="item.department" class="form-control"></td>
					  					</tr>
					  					<tr>
					  						<td>专业</td><td colspan="3"><input type="text" ng-model="item.major" class="form-control"></td>
					  					</tr>
					  					<tr>
					  						<td>学位</td><td colspan="3"><input type="text" ng-model="item.level" class="form-control"></td>
					  					</tr>
					  				</table>
					  				<button type="button" class="btn btn-danger btn-sm" ng-click="removePfRecord(myprofile.edu_exps,$index);"><span class="glyphicon glyphicon-remove" aria-hidden="true"> </span> 删除</button>
					  			</div>
					  			<button type="button" class="btn btn-success" ng-click="myprofile.edu_exps.push({});"><span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> 添加教育经历</button>
				  		</div>			  			
						
			  			<div class="item-table-title profile-subtile">比赛经历</div>
			  			<div class="profile-well-container">
				  			<div class="well" ng-repeat="item in myprofile.competitions_exps">	
				  			<span class="label label-info">{{$index+1}}</span>
				  				<table class="table" style="background:#f5f5f5">
				  					<tr>
				  						<td>比赛名称</td><td colspan="3"><input type="text" ng-model="item.competition_name" class="form-control"></td>
				  					</tr>
				  					<tr>
				  						<td>比赛时间</td><td><input type="text" ng-model="item.start_date" class="form-control"></td>
				  						<td>~</td><td><input type="text" ng-model="item.end_date" class="form-control"></td>
				  					</tr>
				  					<tr>
				  						<td>奖项</td><td colspan="3"><input type="text" ng-model="item.award" class="form-control"></td>
				  					</tr>
				  					<tr>
				  						<td>项目地址</td><td colspan="3"><input type="text" ng-model="item.project_url" class="form-control"></td>
				  					</tr>
				  				</table>
				  				<button type="button" class="btn btn-danger btn-sm" ng-click="removePfRecord(myprofile.competitions_exps,$index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"> </span> 删除</button>
				  			</div>
				  			<button type="button" class="btn btn-success" ng-click="myprofile.competitions_exps.push({});"><span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> 添加比赛经历</button>
			  			</div>
						<div class="item-table-title profile-subtile">实践经历</div>
			  			<div class="profile-well-container">
				  			<div class="well" ng-repeat="item in myprofile.practice_exps">	
				  			<span class="label label-info">{{$index+1}}</span>
				  				<table class="table" style="background:#f5f5f5">
				  					<tr>
				  						<td>组织</td><td colspan="3"><input type="text" ng-model="item.organzition" class="form-control"></td>
				  					</tr>
				  					<tr>
				  						<td>时间</td><td><input type="text" ng-model="item.start_date" class="form-control"></td>
				  						<td>~</td><td><input type="text" ng-model="item.end_date" class="form-control"></td>
				  					</tr>
				  					<tr>
				  						<td>职位</td><td colspan="3"><input type="text" ng-model="item.job" class="form-control"></td>
				  					</tr>
				  					<tr>
				  						<td>描述</td><td colspan="3"><input type="text" ng-model="item.description" class="form-control"></td>
				  					</tr>
				  				</table>
				  				<button type="button" class="btn btn-danger btn-sm" ng-click="removePfRecord(myprofile.practice_exps,$index);"><span class="glyphicon glyphicon-remove" aria-hidden="true"> </span> 删除</button>
				  			</div>
				  			<button type="button" class="btn btn-success" ng-click="myprofile.practice_exps.push({});"><span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> 添加实践经历</button>
			  			</div>			  			
				<br>
				<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> </span> 保存修改</button>
				<br>
			</form>
			</div>
		</div>
	
	</div>	

